$Basecolor:salmon;
$fontSize:12px;
@mixin divSize {
    width: 100px;
    height: 100px;
}
body{
    background: $Basecolor;
    div{
        background: blue;
        font-size: $fontSize;
        @include divSize;
    }
}
@for $i from 1 to 3 {
    div a:nth-child(#{$i}){
        width: ($i - 1)*10px;
    }
}
